.mainPageContainer {
  margin: 2vh 2vw;
  position: relative;
}

.searchFormContainer {
  display: flex;
}

.catListContainer {
  margin: 2% 0;
}

.paginationContainer {
}

.selectedCatModal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.selectedCatModalContent {
  background-color: var(--white);
  margin: 10% auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.selectedCatWrapper {
  margin-bottom: 1vh;
}

.closeButtonWrapper {
  margin-left: auto;
}
